<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="iRollCall"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="iRollCall">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".attend"
            android:label="缺曠" />
        <activity
            android:name=".done"
            android:label="完成" />
        <activity
            android:name=".syllabus"
            android:label="課表" />
        <activity
            android:name=".rollcall"
            android:label="點名" />
    </application>

</manifest>